$whiteColor:#f9f9f9;

body{
    background: #4169E1;
}

.spinner-container{
    position: absolute;
    top:50%;
    left:50%;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    @for $i from 1 through 4 {
        .child-spinner#{$i}{
                width: 5px;
                height: 5px;
                border-radius: 10px;
                position: absolute;
                background:$whiteColor; 
                animation-name:spinner;
                animation-direction: normal;
                animation-duration: 600ms*$i;
                animation-timing-function: ease-in;
                animation-iteration-count: infinite;
            }
        }
    

   @keyframes spinner{
        0%{
            transform-origin: 200% 200%;
            transform: rotate(0deg);
        }
        100%{
          transform-origin:200% 400%;
            transform: rotate(360deg);
        }
    }

    // @keyframes spinner{
    //     0%{
    //         transform-origin: 100% 50%;
    //         transform: rotate(0deg);
    //     }
    //     25%{
    //         transform-origin: 200% 50%;
    //         transform: rotate(360deg);
    //     }
    //     50%{
    //         transform-origin: 500% 50%;
    //         transform: rotate(360deg);
    //     }
    //      75%{
    //         transform-origin: 600% 50%;
    //         transform: rotate(360deg);
    //     }
    //     100%{
    //         transform-origin: 400% 50%;
    //         transform: rotate(360deg);
    //     }
    // }
}